@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "View1";
}
<link href="~/Content/style.css" rel="stylesheet" />
<div class="contact">
    <h2>Khawaja Umair</h2><br>
    <h2>Cell #</h2> : 03317682263 <br>
    <h2>Email</h2>  : umairkh91@gmail.com <br>
</div>
